
.App {
  text-align: center;
  width: 500px;
  height: auto;
  border: 2px solid black;
  padding: 10px;
}

h1 {
  margin-bottom: 20px;
}

.result {
  margin-top: 30px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.result h2 {
  margin-bottom: 10px;
}

.result p {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.optionsK{
  text-align: left;
  list-style: none;
}

.next-button{
  background-color: brown;
}

button:hover {
  background-color: #698b69;
}

.questions-list{
  font-size: 20px;
}